
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.content {
  flex: 1;
  padding-bottom: 30px;
}


.app-container.light {
  background-color: #ffffff;
  color: #000000;
}

.app-container.dark {
  background-color: #12121296;
  color: #ffffff;
}
